.containerPrincipal {
  display: flex;
  margin: 40px;
  height: 500px;
  border-radius: 2%;
  background-color: rgb(226, 226, 226);
}

.container {
  height: 100%;
  width: 100%;
  font-size: 10px;
  margin: 20px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.containerImg {
  display: flex;
  height: 200px;
  margin-top: 120px;
  margin-right: 30px;
}

.img{
    border-radius: 50%;
}

.containerStep{
    background-color: rgba(0, 0, 0, 0.028);
    border-radius: 10%;
    font-size: 8px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.stepNumber{
  margin: 2px;
  margin-top: 5px;
  font-size: 9px;
  text-decoration: underline;

}

.step{
  margin: 2px;
  margin-left: 50px;
  margin-right: 50px;
}


.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.load{
  margin: 0;
  width: 40px;
}



